* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-color: #e0e0e0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    margin: 0;
    }
    background-color: #e0e0e0;
    color: #FFFFFF;
    text-shadow: 2px 2px 30px #3FA9F5;
    text-align: center;
    font-size: 2em;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    border-radius: 5px;


}


    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(53, 49, 49, 0.5);
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
#chat-container {
    margin-bottom: 20px;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}   
#thinking {
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
    header {
        background-color: #e0e0e0;
        color: #3a5ca8;
        text-shadow: none;
        text-align: center;
        font-size: 2em;
        padding: 20px 0;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
        border-radius: 5px;
    }
    transition: box-shadow 0.3s ease
;
}
#query-form {
    background-color: #7480ce;
    color: #D6F03C;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-items: center;
}
#query {
    background-color: #334ec6;
    .container {
        background-color: #e0e0e0;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(53, 49, 49, 0.05);
        width: 100%;
        max-width: 800px;
        flex-grow: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    width: 300px;
    transition: box-shadow 0.3s ease;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
#query:focus {
    outline: none;
    box-shadow: 0 0 30px #3FA9F5;
}   
#submit-button {
    background-color: #ebebe7;
    color: #1E2C8C;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    

}
#submit-button:hover {
    background-color: #1E2C8C;
    color: #f1f2f3;
    box-shadow: #0066FF 0px 4px 8px;
    transform: translateY(-2px);
}
#submit-button:active {
   scale: 0.95;    
   background-color: #727dc3;
    color: #f1f2f3;
}
#answer {
    background-color: #7987e0;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    white-space: pre-wrap; /* Mantener saltos de línea */
    font-size: 1em;
    width: 100%;
    max-width: 800px;
    min-height: 300px;
}
