* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    
    
}

body {
    background-color: #0066FF;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
    margin: 0;
    }

header {
    background-color: #1E2C8C;
    color: #D6F03C;
    text-align: center;
    font-size: 2em;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    
    }

#query-form {
    background-color: #1E2C8C;
    color: #D6F03C;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
#query-input {
    background-color: #3749c0;
    color: #D6F03C;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
}



.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff;
    text-align: center;
}